@keyframes moveclouds {     
    0% { 
        top: 100vh;
    }
    100% { 
        top: -10vh;
    }
}

@keyframes sideWays {
  0% {
      margin-left:0px;
  }
  100% {
      margin-left:50px;
  }
}

